* { 
    box-sizing: border-box; 
}

html, body { 
    height: 100%; 
    
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
}


.title { 
    font-family: 'TypewriterR';
    font-size: 30px;
    font-weight: 400; 
    margin: 0; 
}

.name-container-work,
.name-container-about,
.name-container-skills { 
    font-family: 'TypewriterR';
    font-size: 18px; 
    font-weight: 400; 
    color: red;
}
.second-container {
    display: flex;
    justify-content: space-between;
}

 .page {
    display: flex;
    justify-content: space-between;
    margin: 3% 0 0 7%;
 }
.second-container { 
    margin-top: 0;
}
.about-list {
  font-family: 'TypewriterR';
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 70ch;
}
.works, .skills-list {
  font-family: 'TypewriterR';
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.skills-list li, .works li {
  font-size: 14px;
  line-height: 1.6;
}

.page { 
    flex: 1; 

}
/* footer */
.contact {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: auto;
}
.link-footer {
  font-family: 'TypewriterR';
  font-weight: 600;
  font-size: 26px;
  color: black;
  text-decoration: none;
  transition: color .2s;
}
.link-footer:hover { color: #e00; }
.link-footer:focus-visible {
  outline: 2px dashed #e00;
  outline-offset: 3px;
}


/* функционал */
.work-item {
  cursor: pointer;
  transition: color 0.2s ease;
  color: black;
  max-width: 60ch;
}
/* color: #0073e6; */
.work-item:hover {
  color: red;
}

.work-info {
  margin-right: 28px;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid black;
  color: black;
  font-family: 'TypewriterR';
  font-size: 14px;
  display: block !important;          
   opacity: 0;
  transform: translateY(10px);
  transition: opacity .3s ease, transform .3s ease;
  
}
.work-info.show {
  opacity: 1;
  transform: translateY(0);
}

.work-item.is-active,
.work-item.is-active:hover,
.work-item.is-active:focus {
  color: red;
}


   .work-item.is-active { 
    margin-right: 28px;
    border-right: 1px solid black;
    margin-left: 5px;
  }
  

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
